<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <!--ナビゲーション部分-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li><%= link_to" Home",user_path(current_user.id),class:"nav-link text-light fas fa-home" %></li>
            <li><%= link_to" Users",users_path,class:"nav-link text-light fas fa-users" %></li>
            <li><%= link_to" Books",books_path,class:"nav-link text-light fas fa-book-open" %></li>
            <li><%= link_to" logout",destroy_user_session_path,class:"nav-link text-light fas fa-sign-out-alt",method: :delete %></li>
          <% else %>
            <li><%= link_to" Home",root_path,class:"nav-link text-light fas fa-home" %></li>
            <li><%= link_to" About",homes_about_path,class:"nav-link text-light fas fa-link"%></li>
            <li><%= link_to" sign up", new_user_registration_path,class:"nav-link text-light fas fa-user-plus" %></li>
            <li><%= link_to" login", new_user_session_path,class:"nav-link text-light fas fa-sign-in-alt" %></li>
          <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <!--フラッシュメッセージ機能-->
 　　　<% flash.each do |key, value| %>
 　　　<%= content_tag :p, value, class: key %>
      <% end %>
    </header>
    <%= yield %>
    <!--フッター部分-->
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
    
    <!--jsファイル読み込み-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>-->
  </body>
</html>
